*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.menu-link{
    color: #FFF;
    text-shadow: 0px 3.5250000953674316px 3.5250000953674316px rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
    font-size: 14.1px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px;
}



.nav{
    display: flex;
    justify-content: center;
}
.container{
    width: 1147px;
    margin: 0 auto;
   
}
.menu-link:hover{
    color: blue;
}

body{
    background-color: #020A18;
}
.header{
    margin-bottom: 160px;
}
.main{
    margin-top: 160px;
    margin-bottom: 168px;
    
}

.subtitle{
    color: var(--3-a-68-b-8, #3A68B8);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */
text-transform: uppercase;
margin-bottom: 10px;
}

.title{
    color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: 130%; /* 71.5px */
margin-bottom: 40px;
}

.discription{
    color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */
opacity: 0.7;
margin-bottom: 50px;
}
.dscbn3{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 20px;
    width: 460px;

}
.foot_title{
    color: var(--ffffff, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 33px;

}
.foot_link{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}
.mini_container{
    display: flex;
  flex-direction: column;
  

}

.main-link{
    border-radius: 5px;
background: var(--3-a-68-b-8, #3A68B8);
padding: 1rem 2rem;
color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
margin-right: 20px;
}



.flex{
    display: flex;
    justify-content: space-between;
}

.main-left , .main-right{
    width: 47%;
}
.logo{
    margin-top: 197px;

}

.title2{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 30px;
}
.dcb2{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 65px;
    
}
.main2_link{
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
}
.main2-left , .main2-right{
    width: 47%;
}
.main2{
    margin-bottom: 264px;
}
.main3{
    margin-bottom: 243px;
}
.main4{
margin-bottom: 269px;
}
.footInfo{
    color: var(--ffffff, #FFF);
font-family: Roboto;
font-size: 14px;
font-style: italic;
font-weight: 100;
line-height: normal;
opacity: 0.6;
padding-right :168px ;
}

.foot_icon{
    padding-right: 24px;
}

.content{

    display: grid;

}
.elem{
    justify-content: center;
}

.elem1, .elem2,.elem3,.elem5,.elem6{
    width: 362px;
    height:  389px;
    flex-shrink: 0;
}

.elem4{
    grid-column:-4/-2 ;
    grid-row:2/4;
}
.small_title{
    margin-top: 30px;
    color: var(--ffffff, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 31.25px */
margin-bottom: 30px;
opacity: 0.7;
padding-left: 40px;
padding-right: 40px;


}
.inside_cntnt{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    padding-left: 30px;
    padding-right: 30px;
}

.picPosit{
    padding-left:132px;
    padding-top:30px;
}
.picPositBig{
    padding-left:224px;
    padding-top:30px;
}
.title4{
     width: 548px;
     color: var(--ffffff, #FFF);
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 52px */
margin-bottom: 40px;
}
.footer{
    background-color: #020A18;
}

